<section>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="brand-centered">
      <h3 class="navbar-brand mx-auto m-0" href="#">L34BANK</h3>
      
  </div>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item ">
          <a class="nav-link" > <span >Home</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >
            <span >Add Friend</span>
          </a>
        </li>
      </ul>
    </div>
   <div>
     <img src="/assets/img/Group 184.png" style="width: 32px; height: 32px;">
   </div>
   
   
  </nav>
  <div class="bg-light font px-4 py-2 ">
    <p>Welcome Back,<b>John!</b> </p>
  </div>
  </section>
  <section>
    <div class="container-fluid ">
     <div class="row">
       <div class="col-7 col-lg-3 col-md-3 px-3 py-2">
        <button type="button" class="btn  btn-ali px-3">
          <span ><img src="../assets/img/ion_wallet.png" > </span>
          Wallet - xx234 
        </button>
       </div>
     </div>
     <div class="row">
       <div class="col-12 col-md-12 col-lg-12 py-2">
         <p class="text-center display">$350.84</p>
       </div>
       <div class="col-12 col-md-12 col-ld-12 py-2">
         <h3 class="text-right text-success"> <u>+ Add Money</u></h3>
       </div>

       <div class="col-lg-12 col-md-12 col-12">
        <div class="card card-ali">
          <div class="card-body ">
            <div class="row">
            <div class="col-3 col-lg-3 col-md-3 text-center">
              <img src="../assets/img/fxemoji_footprints.png">
              <p class="m-0">Pay</p>
            </div>
           <div class="col-3 col-lg-3 col-md-3 text-center">
            <img src="../assets/img/fxemoji_footprints-1.png">
            <p class="m-0">Passbook</p>
          </div>
          <div class="col-3 col-lg-3 col-md-3 text-center">
            <img src="../assets/img/fxemoji_footprints-2.png">
            <p class="m-0">Nearby</p>
          </div>
          <div class="col-3 col-lg-3 col-md-3 text-center">
            <img src="../assets/img/fxemoji_footprints-3.png">
            <p class="m-0">Offers</p>
          </div>
          </div>
          </div>
          
        </div>
       </div>
     </div>

     <div class="row">
       <div class="col-6 col-lg-6 col-md-6 py-5">
         <div class="col-12 col-lg-12 col-md-12 my-2 p-0">
          <div class="card bg-dark ">
            <div class="card-body ">
            <div class="row">
              <div class="col-8 col-lg-8 col-md-8">
                <h3 class="text-white">Accounts</h3>
              </div>
              <div class="col-4 col-lg-4 col-md-4 text-right">
                <img   src="../assets/img/fxemoji_footprints-4.png">
              </div>
              <div class="col-12 col-lg-12 col-md-12 pt-2">
                <img  class="img-1" src="../assets/img/Ellipse 65.png" >
                <img class="img-2"  src="../assets/img/Ellipse 66.png">
                <img class="img-3" src="../assets/img/Ellipse 67.png" >

              </div>
              <div class="col-12 col-lg-12 col-md-12">
                <h2 class="text-success m-0">3 Accounts</h2>
              </div>
            </div>
            </div>
          </div> 
       </div>
       <div class="col-12 col-lg-12 col-md-12 my-2 p-0">
          <div class="card bg-success ">
            <div class="card-body ">
            <div class="row">
              <div class="col-9 col-lg-8 col-md-8 pr-0">
                <h3 class="text-white">Loyality Points</h3>
              </div>
              <div class="col-3 pl-1 col-lg-4 col-md-4 text-right">
                <img  src="../assets/img/fxemoji_footprints-6.png">
              </div>
              <div class="col-12 col-lg-12 col-md-12 row">
                <h1 class="p-2 mb-0 mt-2 text-white">3000</h1><h4 class="pt-3 mb-0 mt-2 text-white">pts</h4>
              </div>
            </div>
            </div>
          </div>
       </div>     
       </div>
       <div class="col-6 col-lg-6 col-md-6 py-5">
        <div class="col-12 col-lg-12 col-md-12 my-2 p-0">
          <div class="card bg-grade ">
            <div class="card-body ">
              <div class="row">
                <div class="col-8 col-lg-8 col-md-8">
                  <h3 class="text-white m-0">Budget</h3>
                  <p class="text-white m-0" style="font-size: 10px;">This Month</p>
                </div>
                <div class="col-4 col-lg-4 col-md-4 text-right">
                  <img  src="../assets/img/bx_bx-run.png">
                </div>
                <div class="col-12 col-lg-12 col-md-12 row">
                  <h1 class="p-2 mb-0 text-white">3000</h1><h4 class="text-white pt-3 mb-0 ">/9000</h4>
                </div>
              </div>
            </div>
          </div>  
        </div>
        <div class="col-12 col-lg-12 col-md-12 my-2 p-0">
          <div class="card bg-dark ">
            <div class="card-body ">
            <div class="row">
              <div class="col-8 col-lg-8 col-md-8">
                <h3 class="text-white">Reminders</h3>
              </div>
              <div class="col-4 col-lg-4 col-md-4 text-right">
                <img  src="../assets/img/fxemoji_footprints-8.png">
              </div>
              
              <div class="col-12 col-lg-12 col-md-12 mt-4">
                <h5 class="text-white mb-2 pb-1"> 3 Pennding Payments</h5>
                <button type="button" class="btn btn-success btn-radius">Pay Now</button>
              </div>
            </div>
            </div>
            </div>
          </div> 
      </div>
     </div>
      
    </div>
   
  </section>
  <footer class="footer navbar-fixed-bottom p-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-2 col-lg-2 col-md-2 text-center">
          <img  src="../assets/img/bx_bx-home-circle.png">
           <p>Home</p>
        </div>
        <div class="col-2 col-lg-2 col-md-2 text-center">
          <img  src="../assets/img/uil_bill.png">
           <p>Transfer</p>
        </div>
        <div class="col-4 col-lg-4 col-md-4 text-center">
          <img  class="img-fix" src="../assets/img/Group 172.png">
        </div>
        <div class="col-2 col-lg-2 col-md-2 text-center">
          <img  src="../assets/img/ri_lightbulb-flash-line.png">
           <p>Utilities</p>
        </div>
        <div class="col-2 col-lg-2 col-md-2 text-center">
          <img  src="../assets/img/uil_arrow-growth.png">
           <p>Save</p>
        </div>
      </div>
    </div>
  </footer>